In [1]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123"
)

mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('alien_x',)
('college',)
('college_students_info',)
('company',)
('employee',)
('information_schema',)
('mysql',)
('office',)
('performance_schema',)
('sys',)

In [2]:
mycursor.execute("CREATE DATABASE pokemon")

In [3]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('alien_x',)
('college',)
('college_students_info',)
('company',)
('employee',)
('information_schema',)
('mysql',)
('office',)
('performance_schema',)
('pokemon',)
('sys',)

In [6]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="pokemon"
)

mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE poke_info (poke_id int, poke_name varchar(10), poke_battle_score int)")

In [12]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="pokemon"
)
mycursor=mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('poke_info',)

In [14]:
sql="INSERT INTO poke_info VALUES (1001,'pikachu',210),(1002,'charlizard',310),(1003,'mutu',500)"

mycursor.execute(sql)

mydb.commit()
print(mycursor.rowcount,"row inserted")

3 row inserted

In [15]:
sql="SELECT * FROM poke_info"
mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(1001, 'pikachu', 210)
(1002, 'charlizard', 310)
(1003, 'mutu', 500)

In [16]:
sql="SELECT * FROM poke_info WHERE poke_battle_score IN(100,210,500)"
mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(1001, 'pikachu', 210)
(1003, 'mutu', 500)

In [26]:
sql="SELECT * FROM poke_info WHERE poke_battle_score BETWEEN 200 AND 400"
mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(1001, 'pikachu', 210)
(1002, 'charlizard', 310)

In [31]:
sql="SELECT poke_id, poke_name FROM poke_info WHERE poke_battle_score LIKE '5%'"
mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(1003, 'mutu')