In [19]:
#Importng Mysql

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019DDB0E9700>

In [23]:
#Showing all the available databases

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('college',)
('college_students_info',)
('company',)
('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [22]:
#creating new database

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE college_students_info")

In [26]:
#creating new table

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="college_students_info"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE personal_info(student_id int(7), name varchar(15), gender varchar(6))")

In [29]:
#checking if the table exist

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="college_students_info"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('personal_info',)

In [42]:
#inserting single record in the table
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="college_students_info"
)

mycursor = mydb.cursor()
sql="INSERT INTO personal_info(student_id, name, gender) VALUES (100,'bhargav','Male')"

mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount," record inserted")

1  record inserted

In [45]:
#inserting multiple record in the table
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="college_students_info"
)

mycursor = mydb.cursor()

sql="INSERT INTO personal_info VALUES(101,'Saurabh','Male'),(102,'Sayandrila','Female'),(103,'Satyarth','Male')"

mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount," records inserted")

3  records inserted

In [54]:
#Another way of inserting values in table

sql="INSERT INTO personal_info (student_id, name, gender) VALUES(%s,%s,%s)"
val=((104,'Sangita', 'Female'), (105,'Satish','Male'))

mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount," records inserted")

2  records inserted

In [55]:
#fetching data from table

mycursor.execute("SELECT * FROM personal_info")

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(100, 'bhargav', 'Male')
(101, 'Saurabh', 'Male')
(102, 'Sayandrila', 'Female')
(103, 'Satyarth', 'Male')
(101, 'Saurabh', 'Male')
(102, 'Sayandrila', 'Female')
(103, 'Satyarth', 'Male')
(104, 'Sangita', 'Female')
(105, 'Satish', 'Male')

In [65]:
# Where condition

mycursor=mydb.cursor()

sql="SELECT DISTINCT * FROM personal_info WHERE student_id = 103"

mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(103, 'Satyarth', 'Male')

In [68]:
# ORDER BY condition

sql="SELECT * FROM personal_info ORDER BY student_id desc"

mycursor.execute(sql)
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(105, 'Satish', 'Male')
(104, 'Sangita', 'Female')
(103, 'Satyarth', 'Male')
(103, 'Satyarth', 'Male')
(102, 'Sayandrila', 'Female')
(102, 'Sayandrila', 'Female')
(101, 'Saurabh', 'Male')
(101, 'Saurabh', 'Male')
(100, 'bhargav', 'Male')

In [97]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="college_students_info"
)

mycursor = mydb.cursor()

sql="SELECT COUNT(student_id), gender from personal_info GROUP BY gender"

mycursor.execute(sql)
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(6, 'Male')
(3, 'Female')

In [78]:
#creating new database

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123"
)

mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE office")

In [82]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('college',)
('college_students_info',)
('company',)
('employee',)
('information_schema',)
('mysql',)
('office',)
('performance_schema',)
('sys',)

In [83]:
#create table

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="office"
)

mycursor=mydb.cursor()

mycursor.execute("CREATE TABLE employees_info(gender varchar(6),student_id int(7),marks int)")

In [84]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('employees_info',)

In [91]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="office"
)
mycursor=mydb.cursor()

sql="INSERT INTO employees_info VALUES('MALE',100,67),('FEMALE',101,87),('MALE',102,98),('FEMALE',103,90),('MALE',104,98)"

mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount,"records inserted")

5 records inserted

In [92]:
sql="SELECT * FROM employees_info"

mycursor.execute(sql)

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

('MALE', 100, 67)
('FEMALE', 101, 87)
('MALE', 102, 98)
('FEMALE', 103, 90)
('MALE', 104, 98)

In [93]:
sql="SELECT COUNT(student_id), gender from employees_info GROUP BY gender"

mycursor.execute(sql)
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(3, 'MALE')
(2, 'FEMALE')

In [96]:
sql="SELECT COUNT(student_id), gender from employees_info GROUP BY gender HAVING count(gender)>2"

mycursor.execute(sql)
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(3, 'MALE')