In [1]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123"
)

mycursor=mydb.cursor()

mycursor.execute("CREATE DATABASE alien_X")

In [3]:
mycursor=mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('alien_x',)
('college',)
('college_students_info',)
('company',)
('employee',)
('information_schema',)
('mysql',)
('office',)
('performance_schema',)
('sys',)

In [4]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="alien_X"
)
mycursor=mydb.cursor()

mycursor.execute("CREATE TABLE alien_info (alien_id int(10), name varchar(20), age int)")

In [7]:
sql="INSERT INTO alien_info VALUES(1,'diamond_head',102),(2,'big_chill',50),(3,'wild_mud',25),(4,'four_arm',112)"

mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount,"records inserted")

4 records inserted

In [10]:
sql="UPDATE alien_info SET name='humangasaur' WHERE alien_id=4"

mycursor.execute(sql)
mydb.commit()

print(mycursor.rowcount,"records inserted")

0 records inserted

In [20]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="alien_X"
)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM alien_info")

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'diamond_head', 102)
(2, 'big_chill', 50)
(3, 'wild_mud', 25)
(4, 'humangasaur', 112)

In [21]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQL@123",
    database="alien_X"
)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM alien_info LIMIT 1,2")

myresult=mycursor.fetchall()

for x in myresult:
    print(x)

(2, 'big_chill', 50)
(3, 'wild_mud', 25)